// Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700;800&display=swap');

// Fonts
$family-primary: 'Poppins', sans-serif;
$family-secondary: 'Poppins', sans-serif;

// Colors
$color1: #000000;
$color2: #d3ad69;
$color3: #faefda;
$color4: #121212;

// Variables
$primary: $color2;
$navbar-item-hover-color: $color2;
$menu-item-hover-background-color: none;
$menu-item-color: $color2;
$menu-item-hover-color: $color3;

// Backgrounds
.bg-1 {
    background-color: $color4;
}

.bg-3 {
    background-color: $color3;
}

.txt-3 {
    color: $color3;
}

// Images
.responsive {
    width: 100%;
  height: auto;
}

// Spacing
.menu-list li {
    list-style-position: inside;
}

// Bulma
@import "../node_modules/bulma/bulma.sass"